{% extends "index.html" %}
{% block content %}

<h2>Account Page</h2>

<div class="cardSize">
  <div class="card">
    <div>
      <h3 class="mt-4 mb-3 card-header">{{user.first_name}} {{user.last_name}}</h3>
    </div>
  
    <div class="card-body">  
      
      <h5 class="card-title">Details:</h5>
      
      <div class="row">
        <div class="col">
          <p class="card-text">Username: {{ user.username }}</p>
        </div>
        <div class="col">
          <p class="card-text">Email: {{ user.email }}</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <p class="card-text">Company: {{ manager.company_name }}</p>
        </div>
  
        
        <div class="col">
          <p class="card-text">Address: {{ manager.address }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="card-text">Phone Number: {{ manager.phone_number }} </p>
        </div>
      </div>
              <a href="{% url 'website:accountEdit' user.id %}" class="btn btn-primary">Edit</a>
    </div>      
  </div>
</div>

{% endblock content %}
