{% block employeeList %}
<div class="container">
  <a class="nav-link link" href="{% url 'website:addEmployee' %}">
    <button type="button" class="btn btn-success"><i class="fas fa-user-plus"></i> Add Employee</button>
  </a>

<h1 class="mt-4 mb-3">Current Employees</h1>
<p><i class="fas fa-circle clockedin"> = Clocked In</i> <i class="fas fa-circle clockedout"> = Clocked Out</i>

</p>
<ul class="list-group">  

    {% for employee in all_employees %}
    {% if employee.end_date == Null %}
    <div class='grid-container'>
    <li class="list-group-item">
      {% if employee.isClockedIn == True %}
      <i class="fas fa-circle clockedin"></i>
      {% else %}
      <i class="fas fa-circle clockedout"></i>
      {% endif %}

      <a class="text-info " href="{% url 'website:employeeDetail' employee.id %}">
        {{ employee.first_name }} {{ employee.last_name }}
      </a>
    </li>
    </div>

    {% else %}  
    {% endif %}
    {% endfor %}
    
</ul>

</div>
{% endblock employeeList %}