{% block login %}

        <h3>Login:</h3>

        <form id="login_form" method="post" action="{% url 'website:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" class="form-control" value="" size="50" />
            <br />
            Password: <input type="password" name="password" class="form-control" value="" size="50" />
            <br />

            <input type="submit" class="btn btn-primary btn-lg btn-block" value="submit" />
        </form>
{% endblock login %}


